[user]
	name = asan999@gmail.com
	email = asan999@gmail.com

[color]
    ui = auto

[diff]
    tool = vimdiff

[alias]
    st   = status
    hy   = log --pretty=format:'%h %ad | %Cgreen%d%Creset %s [%Creset%C(yellow)%an%Creset] %C(cyan)(%ar)%Creset' --graph --date=short
	br   = branch --column
	dt   = difftool

